header.header-admin {
    background-color: #111;
}

header.header-admin .container {
    grid-template-columns: 92px 1fr;
    gap: 50px;
}

.container-session {
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    min-height: 88px;

    margin: 0 auto;
    width: 100%;
    max-width: 940px;
}

.header-admin .links {
    width: 100%;
}

.header-admin .links ul {
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-admin .links ul .links-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 25px;
    justify-content: start;
    align-items: center;    
    text-align: center;
}

.header-admin .links ul div:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.header-admin .links a.active,
.header-admin .links p {
    color: #5449A3;
}

.header-admin .links a {
    text-transform: uppercase;
    color: #F5F5F5;
}

.header-admin .links button {
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.header-admin .links a:hover,
.header-admin .links button:hover {
    color: #F5F5F5;
}

.header-admin .links p {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #5449A3;
    border-radius: 16px;
}


.header-admin .links form {
    text-align: center;
}

.header-admin .links button {
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.header-admin .links .user-menu {
    position: relative;
    justify-self: end;
}

.header-admin .links .user-menu .submenu {
    position: absolute;
    top: 32px;
    left: -4px;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-bottom: 15px;
    width: 100px;
    text-align: center;
    background-color: #111;
    border-radius: 4px;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

.header-admin .links .user-menu:hover .submenu {
    top: 0;
    opacity: 1;
    visibility: visible;
}

/*** FORMS ***/
form .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

form .item {
    margin-top: 24px;
}

form .item:last-of-type {
    margin-bottom: 32px;
}

.item div:nth-of-type(1) {
    font-weight: bold;
}

form .item #photos-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    margin: 10px 0;
}

form .item #photos-upload, 
form .item #photos-preview .photo img {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

form #photos-upload i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 48px;
    font-weight: bold;
    color: #444;
    transition: .2s;
}

form #photos-input:hover + i {
    color: #6558C3;
}

form #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
}

form #photos-preview .photo {
    position: relative;
}

form #photos-preview .photo img {
    object-fit: cover;
}

form #photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    font-weight: bold;
    color: #f00;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}

form #photos-preview .photo i:hover {
    opacity: 1;
}

form textarea {
    display: block;
    height: 256px;
    resize: none;
}

form .options {
    display: flex;
}

form .options a {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

form .options a i {
    margin-right: 4px;
}

form a.add,
form a.add i {
    color: #6558C3;
}

form a.remove,
form a.remove i {
    color: #DC4747;
}