<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" href="/styles/home.css">
        {% include "templates/includes/head-content.njk" %}

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="container-session">
                <a href="/"><img src="/assets/logo.png" alt="Foodfy logo"></a>            
            </div>
        </header>

        {% include "templates/includes/messages.njk" %}

        {% block content %}
        {% endblock %}

        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </footer>

        <script src="/scripts/index.js"></script>
        <script src="/scripts/redirect.js"></script>
        <script src="/scripts/pagination.js"></script>
        <script src="/scripts/hiddeRecipe.js"></script>
    </body>
</html>